@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: url(https://renehuber.me/madera.jpg) no-repeat center bottom;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {color: #F90;}
p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #FFF;
  text-shadow: 3px 4px 5px #000;
}



.container {
  margin: 3% auto;
  max-width: 637px;
  padding: 9px 55px 32px 55px;
  text-align: center;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  background: #000000b8;
  border-radius: 29px;
 
}




.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 23px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 21px;
  padding: 0 20px;
}

.heading p {
  color: #ffb122;
  font-size: 21px;
  text-shadow: 2px 2px 4px #000;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  color: #FFF;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px 2px  #0000008a;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.btn:hover{
  background: #0f0f09; /* Old browsers */
background: -moz-linear-gradient(top,  #0f0f09 0%, #18560c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0f0f09 0%,#18560c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0f0f09 0%,#18560c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f09', endColorstr='#18560c',GradientType=0 ); /* IE6-9 */

}



.topBtn{
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 2px #000000;
  background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}

.topBtn:hover{ 
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f0f09+0,18560c+100 */
background: #0f0f09; /* Old browsers */
background: -moz-linear-gradient(top,  #0f0f09 0%, #18560c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0f0f09 0%,#18560c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0f0f09 0%,#18560c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f09', endColorstr='#18560c',GradientType=0 ); /* IE6-9 */

}


.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}



@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
